In [1]:
import pandas as pd
from src.datasets.utils import *
import base64
import re

In [2]:
df = read_raw_files(parts=[0])

In [3]:
df.shape

(47644, 8)

In [4]:
df.sample(5)

,note_id,subject_id,hadm_id_,note_type,note_seq,charttime,storetime,text
21936,11619087-DS-47,11619087,29304822,DS,47,2129-02-03 00:00:00,2129-02-03 20:39:00,\nName: ___ Unit No: ___...
38483,17147859-DS-29,17147859,29720850,DS,29,2202-04-26 00:00:00,2202-04-27 17:50:00,\nName: ___ Unit No: _...
23532,11303674-DS-28,11303674,24464301,DS,28,2129-05-29 00:00:00,2129-05-29 19:40:00,\nName: ___ Unit No: ___\n...
8767,10117273-DS-13,10117273,20546704,DS,13,2188-06-16 00:00:00,2188-06-17 16:30:00,\nName: ___ Unit No: ___\n ...
32496,18198488-DS-20,18198488,25840808,DS,20,2124-09-11 00:00:00,2124-09-12 14:25:00,\nName: ___ Unit No: ___...

In [5]:
notes = df.text

In [6]:
concatenated_notes = notes.str.cat(sep='\n')

In [7]:
len(concatenated_notes)

501821605

In [10]:
# Get the unique characters in the concatenated notes
def get_unique_chars(text):
    unique_chars = ''.join(set(text))
    chars = [x.encode('ascii', 'ignore').decode("utf-8") for x in unique_chars]
    chars = set(sorted(chars))
    return chars

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
    text = text.replace("\n", " ")
    return text

def clean_text_chunked(text, chunk_size=10000):
    cleaned_text = ""
    start = 0
    n_chunks = len(text)/chunk_size + 1
    print("There are {} chunks to process".format(n_chunks))
    while start < len(text):
        chunk = text[start:start+chunk_size]
        cleaned_chunk = clean_text(chunk)
        cleaned_text += cleaned_chunk
        start += chunk_size
        if start % (chunk_size*1000) == 0:
            print("Processed {} chunks".format(start/chunk_size))
    return cleaned_text

In [11]:
cleaned_notes = clean_text_chunked(concatenated_notes)

There are 50183.1605 chunks to process
Processed 1000.0 chunks
Processed 2000.0 chunks
Processed 3000.0 chunks
Processed 4000.0 chunks
Processed 5000.0 chunks
Processed 6000.0 chunks
Processed 7000.0 chunks
Processed 8000.0 chunks
Processed 9000.0 chunks
Processed 10000.0 chunks
Processed 11000.0 chunks
Processed 12000.0 chunks
Processed 13000.0 chunks
Processed 14000.0 chunks
Processed 15000.0 chunks
Processed 16000.0 chunks
Processed 17000.0 chunks
Processed 18000.0 chunks
Processed 19000.0 chunks
Processed 20000.0 chunks
Processed 21000.0 chunks
Processed 22000.0 chunks
Processed 23000.0 chunks
Processed 24000.0 chunks
Processed 25000.0 chunks
Processed 26000.0 chunks
Processed 27000.0 chunks
Processed 28000.0 chunks
Processed 29000.0 chunks
Processed 30000.0 chunks
Processed 31000.0 chunks
Processed 32000.0 chunks
Processed 33000.0 chunks
Processed 34000.0 chunks
Processed 35000.0 chunks
Processed 36000.0 chunks
Processed 37000.0 chunks
Processed 38000.0 chunks
Processed 39000.0 chunks
Processed 40000.0 chunks
Processed 41000.0 chunks
Processed 42000.0 chunks
Processed 43000.0 chunks
Processed 44000.0 chunks
Processed 45000.0 chunks
Processed 46000.0 chunks
Processed 47000.0 chunks
Processed 48000.0 chunks
Processed 49000.0 chunks
Processed 50000.0 chunks

In [15]:
cleaned_notes[300:600]

' a  year old male who complains of right\nsided abdominal pain patient presents with 2 days of right\nlower quadrant pain patient states noticed it while\nwalking patients noticed intermittent pain worsens\npatient had no relief with peptobismol patient denies\nfevers or chills patient reports some anore'